---
import Layout from '@layouts/Layout.astro';
import { Category, Settings, db, eq } from 'astro:db';
const { user } = Astro.locals;

const [isFirstSetupDone] = await db.select().from(Settings).where(eq(Settings.authorId, user.id));
if (isFirstSetupDone) return Astro.redirect('/goals');

if (Astro.request.method == 'POST') {
  const formData = await Astro.request.formData();
  try {
    await db.insert(Category).values({
      authorId: user.id,
      name: formData.get('name') as string
    });
    await db.insert(Settings).values({
      authorId: user.id,
      setupDone: true
    });
    return Astro.redirect('/goals/new');
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout pageName='Initial Setup'>
  <section transition:animate='slide' class='content flex w-full flex-col justify-center'>
    <header class='space-y-8 py-4'>
      <h1 class='text-center text-5xl lg:text-6xl'><strong>Hello</strong> {user.name}</h1>
      <p class='text-center text-xl font-light'>
        Before we get started, please create a category.<br /> What's your first goal about?
      </p>
    </header>
    <div class='flex justify-center pt-6'>
      <form method='post' class='grid max-w-md gap-2 px-1'>
        <input
          name='name'
          id='categories'
          type='text'
          placeholder='Category name...'
          required
          min='3'
          class='input input-bordered'
        />
        <button type='submit' class='btn btn-warning'>Submit</button>
      </form>
    </div>
  </section>
</Layout>
