---
import type { ValidationErrors } from '@/types/formValidation.types';
import SubmitButton from '@components/SubmitButton.astro';
import type { TCategory } from 'db/config';
import TextInput from '../../../components/TextInput.astro';

type Props = {
  title: string;
  category?: TCategory;
  validationErrors?: ValidationErrors;
};
const { category, validationErrors, title } = Astro.props;
---
<section transition:animate='none' class='flex max-w-sm gap-4'>
  <div class='flex flex-col gap-4'>
    <h1 class='text-4xl font-bold'>{title}</h1>
    <form method='post'>
      <div class='flex gap-2'>
        <div class='flex flex-col gap-2'>
          <TextInput value={category?.name} id='create-category' name='name' placeholder='Category Name' />
          {validationErrors?.name && <span class='px-2 text-red-500'>{validationErrors?.name}</span>}
        </div>

        <SubmitButton className='!btn-warning disabled:!bg-warning'>
          {category ? 'Update' : 'Create'}
        </SubmitButton>
      </div>
    </form>
  </div>
</section>
