---
type Props = {
  title: string;
  paragraph: string;
};
const { paragraph, title } = Astro.props;
---

<article class='grid py-2'>
  <div class='grid grid-cols-12 grid-rows-2' style='grid-template-rows: auto auto;'>
    <div class='items-cener col-span-2 pb-2 m-auto flex w-full justify-end pr-3 lg:col-span-3'>
      <slot name='icon' />
    </div>
    <div class='col-span-10 w-full content-center lg:col-span-9'>
      <h3 class='line-clamp-1 text-4xl font-semibold pb-2'>{title}</h3>
    </div>
    <div class='col-span-10 col-start-3 w-full max-w-xl md:col-start-2 lg:col-span-9 lg:col-start-4'>
      <p class='text-pretty px-1 text-base opacity-85 md:text-lg'>
        {paragraph}
      </p>
    </div>
  </div>
</article>
