---
import type { ValidationErrors } from '@/types/formValidation.types';
import SubmitButton from '@components/SubmitButton.astro';
import type { TActivity } from 'db/config';
import TextInput from '../../../components/TextInput.astro';

type Props = {
  title: string;
  activity?: TActivity;
  validationErrors?: ValidationErrors;
};
const { activity, validationErrors, title } = Astro.props;
---

<section transition:animate='none' class='flex max-w-sm gap-4'>
  <div class='flex flex-col gap-4'>
    <h1 class='text-4xl font-bold'>{title}</h1>
    <form method='post'>
      <div class='flex gap-2'>
        <div class='flex flex-col gap-2'>
          <TextInput value={activity?.name} id='create-activity' name='name' placeholder='Activity Name' />
          {validationErrors?.name && <span class='px-2 text-red-500'>{validationErrors?.name}</span>}
        </div>

        <SubmitButton className='!btn-warning disabled:!bg-warning'>
          {activity ? 'Update' : 'Create'}
        </SubmitButton>
      </div>
    </form>
  </div>
</section>
