html, body {
  scrollbar-gutter: auto !important;
  min-height: 100dvh;
}
button,
a,
[role='button'] {
  animation: none !important;
}
.flex-container {
  flex: 1; /* Takes up remaining space */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Prevents overflow */
}

.content {
  /* flex: 1;  Takes as much height as possible */
  overflow-y: auto; /* Enables vertical scrolling if needed */
  min-height: fit-content; /* Altezza minima basata sul contenuto */
  max-height: 100%;
}