---
import SignIn from '@components/SignInButton.astro';
import GoalIcon from '@components/icons/GoalIcon.astro';
import ProgressIcon from '@components/icons/ProgressIcon.astro';
import ReportIcon from '@components/icons/ReportIcon.astro';
import LandingLayout from '@layouts/LandingLayout.astro';
import FeatureArticle from './_components/FeatureArticle.astro';
---

<LandingLayout title='Features'>
  <section transition:animate='fade' class='grid items-start gap-8'>
    <header class='flex justify-center pt-8'>
      <h1 class='title text-balanced max-w-4xl gap-2 text-center font-bold !leading-tight' transition:name='title'>
        Powerful Tools To Reach Your Goals
      </h1>
    </header>
    <div class='grid justify-center gap-4 xl:grid-cols-3'>
      <FeatureArticle
        title='Goal'
        paragraph='Easily create and manage your goals, with options to set deadlines, milestones, and reminders.'>
        <GoalIcon slot='icon' />
      </FeatureArticle>

      <FeatureArticle
        title='Progress'
        paragraph='Monitor your progress and see how close you are to achieving your goals.'>
        <ProgressIcon slot='icon' />
      </FeatureArticle>

      <FeatureArticle
        title='Report'
        paragraph='Generate detailed reports to analyze your progress and identify areas for improvement.'>
        <ReportIcon slot='icon' />
      </FeatureArticle>
    </div>
    <footer class='m-auto pb-8'>
      <SignIn label='Sign In With Github' />
    </footer>
  </section>
</LandingLayout>

<style>
  .title {
    font-size: min(10vw, 4em);
  }
</style>
