---
import Spinner from '@components/Spinner.astro';
import Layout from '@layouts/MainLayout.astro';
import ChartsContainer from './_charts/ChartsContainer.astro';
Astro.response.headers.set('Cache-Control', 'public, max-age=31536000');
Astro.response.headers.set('Netlify-CDN-Cache-Control', 'public, durable, max-age=31536000');
export const prerender = true;
---

<Layout pageName='Reports'>
  <header class='font-bolder pb-4 text-4xl text-base-content'><h1>Reports</h1></header>
  <ChartsContainer server:defer>
    <Spinner slot='fallback' />
  </ChartsContainer>
</Layout>
