---
import { getCompletionRate } from '@/api/goals/queries';
import Layout from '@layouts/MainLayout.astro';
import BarChart from './_charts/BarChart.astro';

const { user } = Astro.locals;

let completionRate: number;
let completedCount: number;
let totalGoals: number;
let lastWeekGoals: number;
let delta: number;
// let goalsWithActivities: ActivityWithGoalCount[];
try {
  const {
    completedCount: completedNumber,
    completionRate: ratePercentage,
    lastWeekGoalsCount,
    totalGoalsCount,
    deltaCount
  } = await getCompletionRate(user.id);
  completionRate = ratePercentage;
  totalGoals = totalGoalsCount;
  lastWeekGoals = lastWeekGoalsCount;
  delta = deltaCount;
  completedCount = completedNumber;

  // goalsWithActivities = await getGoalsWithActivities({ userId: user.id });
} catch (error) {
  return Astro.redirect('error?redirect=reports');
}
---

<Layout pageName='Reports'>
  <header class='font-bolder pb-4 text-4xl text-base-content'><h1>Reports</h1></header>
  <div class='grid auto-rows-auto gap-4 w-[80vw'>
    <section class='grid h-40 grid-cols-2 grid-rows-2 gap-2 sm:grid-cols-4 sm:grid-rows-1'>
      <div class='flex flex-col justify-center gap-4 rounded-xl bg-base-300 p-8 shadow-lg'>
        <div class='text-center text-4xl font-extrabold text-base-content'>{`${completionRate}%`}</div>
        <div class='text-balance text-center text-base-content/80'>Goals Completed</div>
      </div>
      <div class='flex flex-col justify-center gap-4 rounded-xl bg-base-300 p-8 shadow-lg'>
        <div class='text-center text-4xl font-extrabold text-base-content'>{totalGoals}</div>
        <div class='text-balance text-center text-base-content/80'>Total Goals</div>
      </div>
      <div class='flex flex-col justify-center gap-4 rounded-xl bg-base-300 p-8 shadow-lg'>
        <div class='text-center text-4xl font-extrabold text-base-content'>{`${lastWeekGoals}`}</div>
        <div class='text-balance text-center text-base-content/80'>New Goals Last Week</div>
      </div>
      <div class='flex flex-col justify-center gap-4 rounded-xl bg-base-300 p-8 shadow-lg'>
        <div class='text-center text-4xl font-extrabold text-base-content'>
          {`${delta >= 0 ? '+' : ''}${delta}`}
        </div>
        <div class='text-balance text-center text-base-content/80'>Vs Previous Week</div>
      </div>
    </section>
    <BarChart />
  </div>
</Layout>