---
import { getMostUsedActivity } from '@/api/activities/queries';
import { toFixedDecimals } from '@/utils/fixed-decimals';
import Fab from '@components/Fab.astro';
import Layout from '@layouts/MainLayout.astro';
const { user } = Astro.locals;

const mostUsedActivity = await getMostUsedActivity(user.id);
const total = mostUsedActivity.reduce((acc, activity) => acc + activity.goalCount, 0);
const percentages = mostUsedActivity.map((activity) => {
  const percent = (activity.goalCount / total) * 100;
  const formattedNum = toFixedDecimals(percent);
  return formattedNum;
});
---

<Layout pageName='Categories'>
  <section class='card flex max-w-md flex-col gap-8 bg-base-200 text-neutral-content'>
    <div class='card-body gap-8'>
      <h1 class='card-title text-2xl font-bold'>Most Used Categories</h1>
      <div class='flex flex-col gap-4'>
        {
          mostUsedActivity.map((activity, i) => (
            <div class='flex justify-between gap-2'>
              <div class='col-span-1'>
                <a href={`/activities/${activity.activityId}`} class='hover:font-bold'>
                  {activity.categoryName}
                </a>
              </div>
              <div class='flex gap-2'>
                <div class='flex justify-end'>
                  <div
                    class='activity-bar w-full origin-right justify-end rounded bg-red-500 transition-transform'
                    style={`width: ${percentages[i]}px`}
                  />
                </div>
                <div class='w-14 text-end'>{percentages[i]}%</div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <Fab href='/activities/new'>+</Fab>
</Layout>
<style>
  @keyframes expand {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  .activity-bar {
    animation: expand 1s ease-in-out;
  }
</style>
