---
import { createActivity } from '@/api/activities/mutations';
import { ActivitySchema } from '@/types/activities.types';
import { timeFilters } from '@/types/filters.types';
import ActivityForm from '@components/ActivityForm.astro';
import Fab from '@components/Fab.astro';
import Popover from '@components/Popover.astro';
import Spinner from '@components/Spinner.astro';
import Layout from '@layouts/MainLayout.astro';
import ActivitiesContent from './components/ActivitiesContent.astro';
const { user } = Astro.locals;

const time = Astro.url.searchParams.get('time') ?? 'month';

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();

  try {
    const data = ActivitySchema.parse(formData);
    await createActivity({
      authorId: user.id,
      ...data
    });
    return Astro.redirect('/activities');
  } catch (error) {
    return Astro.redirect('/error?redirect=activities');
  }
}
Astro.response.headers.set('Cache-Control', 'public, max-age=0, must-revalidate');
Astro.response.headers.set('Netlify-CDN-Cache-Control', 'public, durable, max-age=31536000');
---

<Layout pageName='Activities'>
  <div class='flex w-full flex-col gap-4 sm:max-w-sm'>
    <h1 class='font-bolder text-4xl'>Activities</h1>
    <header role='tablist' class='tabs-boxed tabs bg-base-300' transition:name='filters'>
      {
        timeFilters.map((filter) => (
          <a
            data-astro-prefetch='hover'
            class:list={[{ 'tab-active': filter === time }]}
            class='tab capitalize'
            href={`/activities?time=${filter}`}>
            {filter}
          </a>
        ))
      }
    </header>
    <ActivitiesContent server:defer>
      <Spinner slot='fallback' />
    </ActivitiesContent>
    <Popover id='new-activity-dialog' title='New Activity'>
      <ActivityForm>
        <button type='button' popovertarget='new-activity-dialog' class='btn text-base-content' transition:name='fab'>
          Cancel
        </button>
      </ActivityForm>
    </Popover>
  </div>
  <Fab popoverTarget='new-activity-dialog'>+</Fab>
</Layout>
<style>
  @keyframes expand {
    0% {
      transform: scaleX(0);
    }
    100% {
      transform: scaleX(1);
    }
  }
  .activity-bar {
    animation: expand 1s ease-in-out;
  }
</style>
