---
Astro.response.headers.set('Cache-Control', 'public, max-age=0, must-revalidate');
Astro.response.headers.set('Netlify-CDN-Cache-Control', 'public, durable, max-age=31536000');
export const prerender = true;
import LandingLayout from '@layouts/LandingLayout.astro';
---

<LandingLayout title='Home'>
  <section transition:animate='slide' class='grid content-center justify-center gap-8'>
    <header>
      <h1
        transition:name='title'
        class='text-balanced text-center text-5xl font-bold sm:text-5xl xl:text-7xl xl:tracking-wide'>
        Track Your <br /> Learning Today
      </h1>
    </header>
    <div class='max-w-[30em] text-center text-xl md:text-2xl'>
      Set learning goals, track achievements and generate insightful reports to maximize your growth.
    </div>
  </section>
</LandingLayout>
