---
type Props = {
  title?: string;
};
const { title } = Astro.props;
---

<div class='flex w-full flex-col gap-4 overflow-x-auto rounded-box border border-base-300/50 h-fit bg-base-200 p-4 shadow'>
  <header class='flex justify-between'>
    {title && <h2 class='text-xl sm:text-2xl'>{title}</h2>}
    <slot name='header-content' />
  </header>
  <slot />
</div>