---
type Props = {
  title?: string;
};
const { title } = Astro.props;
---

<div
  transition:name='card'
  class='flex h-min w-full min-w-[18rem] flex-col gap-4 rounded-box border border-base-300/50 bg-base-200 p-4 shadow'>
  <header class='flex items-center justify-between'>
    {title && <h2 class='text-xl font-medium sm:text-2xl'>{title}</h2>}
    <slot name='header-content' />
  </header>
  <slot />
</div>