<div class='dropdown dropdown-end'>
  <div tabindex='0' role='button' class='btn m-1 bg-transparent border-none shadow-transparent hover:border-transparent hover:bg-transparent'><slot name='trigger' /></div>
  <ul class='menu dropdown-content z-20 w-52 rounded-box bg-base-100  border !border-base-300/50 p-2 shadow'>
    <slot name='content' />
  </ul>
</div>
