---
import Layout from '@layouts/MainLayout.astro';

type Props = {
  message: string;
  fallbackUrl: string;
};

const { message = 'Something went wrong :(', fallbackUrl } = Astro.props;
---

<Layout pageName='Error'>
  <div class='flex-container h-full items-center justify-center gap-8 text-center'>
    <div class='space-y-8'>
      <p class='text-balance text-6xl font-semibold leading-snug'>Ooopps!</p>
      <p class='text-4xl font-semibold leading-snug'>{message}</p>
    </div>
    <a href={fallbackUrl} class='btn btn-error btn-wide'>Go Back</a>
  </div>
</Layout>
