---
type Props = {
  href: string;
};
const { href } = Astro.props;
---

<a
  href={href}
  class='btn btn-circle btn-warning fixed bottom-[4.5rem] sm:bottom-0 right-0 m-4 text-xl'
  transition:name='fab'
  transition:persist>
  <slot />
</a>
