---
type Props = {
  href: string;
};
const { href } = Astro.props;
---

<a
  href={href}
  class='btn btn-circle btn-warning fixed bottom-[4.5rem] right-0 m-4 text-xl sm:bottom-0'
  transition:name='fab'
  transition:persist>
  <slot />
</a>
