---
type Props = {
  HTMLFor: string;
  label: string;
  errors: string[] | undefined;
};
const { label, errors = [], HTMLFor } = Astro.props;
---

<div class='flex flex-col gap-1 w-full'>
  <label for={HTMLFor}>{label}</label>
  <slot />
  {errors.map((error) => <span class='h-6 text-error'>{error}</span>)}
</div>
