<div
  class={`
  prose-h1:text-3xl
  prose-h1:font-bold 
  prose-h2:text-2xl
  prose-h2:font-bold 
  prose-h3:text-xl
  prose-h3:font-semibold 
  prose-p:text-base 
  prose-li:first-letter:capitalize 
  prose-li:list-disc 
  prose-li:ml-5 
  prose-hr:opacity-30
  prose-hr:border-[1px]
  prose-hr:rounded-full
  prose-time:text-2xl
  prose-time:font-bold
  `}>
  <slot />
</div>
