---
type Props = {
  className?: string;
};
const { className = 'w-full text-base font-semibold text-left' } = Astro.props;
---
<button id='signout-btn' class={className}>Logout</button>
<script>
  document.addEventListener('astro:page-load', () => {
    const signOutBtn = document.getElementById('signout-btn');
    signOutBtn?.addEventListener('click', async () => {
      const { signOut } = await import('auth-astro/client');
      await signOut();
      window.location.href = '/';
    });
  });
</script>
