---
type Props = {
  className?: string;
};
const { className = '' } = Astro.props;
---

<button
  type='submit'
  id='submit-btn'
  class={`w-32 btn btn-primary ${className} disabled:!bg-primary disabled:text-base-300`}>
  <slot />
</button>
<script>
  document.addEventListener('astro:page-load', () => {
    const spinner = document.createElement('span');
    spinner.classList.add('loading', 'loading-spinner', 'loading-md');

    const submitBtn = document.querySelector<HTMLButtonElement>('#submit-btn');
    if (submitBtn) {
      submitBtn.addEventListener('click', (e) => {
        const forms = document.querySelectorAll<HTMLFormElement>('form');
        forms.forEach((form) => {
          form.addEventListener('submit', (e) => {
            const submitBtn = e.submitter;
            if (submitBtn) {
              submitBtn.textContent = '';
              submitBtn.appendChild(spinner);
              submitBtn.setAttribute('disabled', 'true');
            }
          });
        });
      });
    }
  });
</script>
