---
import Layout from '@layouts/Layout.astro';
---

<Layout pageName='Error'>
  <div class='flex-container items-center justify-center gap-8 text-center'>
    <div class="space-y-8">
      <p class='text-balance text-6xl font-semibold leading-snug'>Ooopps!</p>
      <p class=' text-4xl font-semibold leading-snug'>Something went wrong :(</p>
    </div>
    <a href='/goals/new' class='btn btn-error btn-wide'>Go Back</a>
  </div>
</Layout>
