---
import { formatDate } from '@/utils/format-date';
import type { TGoal } from 'db/config';

type Props = {
  goal: TGoal;
};

const { goal } = Astro.props;
---

<li class='py-2'>
  <a href={`/goals/${goal.id}`} data-astro-reload data-astro-prefetch="viewport">
    <article
      class='grid gap-4 rounded-box bg-base-content/15 p-4 transition-colors hover:border-base-content/10 hover:bg-base-content/10 hover:shadow'>
      <header>
        <b>{goal.title}</b>
      </header>
      <footer class='text-sm font-thin'>
        {
          goal.completed && goal.completionDate
            ? `Achieved on ${formatDate(goal.completionDate)}`
            : 'Not Completed'
        }
      </footer>
    </article>
  </a>
</li>
