---
import { getActivities } from '@/api/activities/queries';
import { formNames } from '@/types/goalForm.types';
import Select from '@components/Select.astro';
import type { TActivity } from 'db/config';

const { user } = Astro.locals;
type Props = {
  activities?: TActivity[];
  value?: number;
};
let activities: TActivity[] = [];
const { value, activities: propsActivities } = Astro.props;
activities = propsActivities ? propsActivities : await getActivities(user.id);
---

<Select
  id='select-activity'
  required
  options={activities}
  optionKey='id'
  optionLabelKey='name'
  value={value}
  name={formNames.activityId.inputName}>
  <div class='flex grow justify-center' slot='fallback'>
    <span class='loading loading-spinner loading-lg'></span>
  </div></Select
>
