---
import { getGoalsWithActivities } from '@/api/activities/queries';

const { user } = Astro.locals;
const goalsWithActivities = await getGoalsWithActivities({ userId: user.id });
---

<activities-bar-chart
  data-value={JSON.stringify(goalsWithActivities)}
  class='col-span-1 h-fit w-full rounded-lg bg-base-300 px-8 py-4 md:col-span-2'>
  <h1 class='pb-4 text-center text-2xl font-bold text-base-content'>Goals per Activity</h1>
  <canvas id='chart'></canvas>
</activities-bar-chart>

<script>
  import type { ActivityWithGoalCount } from '@/api/activities/queries';
  import { BarController, BarElement, CategoryScale, Chart, LinearScale, Title, Tooltip } from 'chart.js';
  Chart.register(BarController, BarElement, LinearScale, Tooltip, CategoryScale, Title);

  class ActivitiesBarChart extends HTMLElement {
    constructor() {
      super();
      const data = this.dataset.value;
      const chart = document.querySelector<HTMLCanvasElement>('#chart');
      const darkModePreference = window.matchMedia('(prefers-color-scheme: dark)');

      let labelColor = 'lightgray';

      if (data && chart) {
        const parsedData = JSON.parse(data) as ActivityWithGoalCount[];
        const barchart = new Chart(chart, {
          type: 'bar',
          options: {
            plugins: {
              tooltip: {
                enabled: true,
                callbacks: {
                  label: function (context) {
                    return 'Goals: ' + context.parsed.y;
                  }
                }
              }
            },
            scales: {
              x: {
                labels: parsedData.map((row) => row.activityName),
                type: 'category',
                ticks: {
                  color: labelColor,
                  font: {
                    size: 16
                  }
                }
              },
              y: {
                ticks: {
                  color: labelColor,
                  stepSize: 1,
                  font: {
                    size: 16
                  }
                },
                type: 'linear'
              }
            }
          },
          data: {
            datasets: [
              {
                data: parsedData.map((row) => row.goalCount),
                backgroundColor: parsedData.map((row) => row.color)
              }
            ]
          }
        });
        darkModePreference.addEventListener('change', (e) => {
          labelColor = e.matches ? 'lightgray' : 'black';
          const xLabelColor = barchart.options.scales?.x?.ticks;
          const yLabelColor = barchart.options.scales?.y?.ticks;
          if (xLabelColor && yLabelColor) {
            xLabelColor.color = labelColor;
            yLabelColor.color = labelColor;
            barchart.update();
          }
        });
      }
    }
  }

  customElements.define('activities-bar-chart', ActivitiesBarChart);
</script>
