---

---

<activities-pie-chart class='col-span-1 flex h-fit w-full flex-col rounded-lg bg-base-200 p-4 md:col-span-2'>
  <h1 class='pb-4 text-center text-2xl font-bold text-base-content'>Activities</h1>
  <div
    id='pie-chart-container'
    class='flex min-h-[300px] grow animate-pulse flex-col items-start justify-start gap-4 rounded-lg bg-base-100 p-2 px-4'>
    <div id='pie-chart-legend' class='hidden flex-wrap items-center gap-2 px-1'></div>
    <canvas id='goalsWithActivities' class='max-h-[300px]'></canvas>
  </div>
  <template id='activity-legend-template'>
    <div class='flex items-center gap-2'>
      <div class='h-2 w-4'></div>
      <span></span>
    </div>
  </template>
</activities-pie-chart>

<script>
  import type { ActivityWithGoalCount } from '@/api/activities/queries';
  import { ArcElement, Chart, DoughnutController, Title, Tooltip } from 'chart.js';
  Chart.register(ArcElement, DoughnutController, Title, Tooltip);

  class ActivitiesPieChart extends HTMLElement {
    constructor() {
      super();
      setTimeout(async () => {
        const data = (await fetch('/api/piechart').then((res) => res.json())) as ActivityWithGoalCount[];

        const legends = document.querySelector<HTMLDivElement>('#pie-chart-legend');
        data.forEach((activity) => {
          const template = document.querySelector<HTMLTemplateElement>('#activity-legend-template');
          const clone = template?.content.cloneNode(true) as HTMLDivElement;
          const color = clone.querySelector<HTMLDivElement>('div>div');
          const name = clone.querySelector<HTMLSpanElement>('div>span');
          if (!template || !legends || !color || !name) return;
          color.style.backgroundColor = activity.color;
          name.textContent = activity.activityName;
          legends.appendChild(clone);
        });

        const chart = document.querySelector<HTMLCanvasElement>('#goalsWithActivities');
        let labelColor = 'lightgray';
        const darkModePreference = window.matchMedia('(prefers-color-scheme: dark)');

        if (data && chart) {
          document.querySelector<HTMLDivElement>('#pie-chart-container')?.classList.remove('animate-pulse');
          document.querySelector<HTMLDivElement>('#pie-chart-legend')?.classList.replace('hidden', 'flex');
          const piechart = new Chart(chart, {
            type: 'doughnut',
            data: {
              datasets: [
                {
                  label: 'Goals',
                  data: data.map((row) => row.goalCount),
                  backgroundColor: data.map((row) => row.color),
                  hoverOffset: 4
                }
              ]
            }
          });

          darkModePreference.addEventListener('change', (e) => {
            labelColor = e.matches ? 'lightgray' : 'black';
            const legend = piechart.options.plugins?.legend?.labels;
            if (legend) {
              legend.color = labelColor;
              piechart.update();
            }
          });
        }
      }, 0);
    }
  }

  customElements.define('activities-pie-chart', ActivitiesPieChart);
</script>
