---
import '@/styles/commons.css';
import { seoConfig } from '@/utils/seoConfig';
import SignInButton from '@components/SignInButton.astro';
import '@fontsource/inter';
import { SEO } from 'astro-seo';
import { ClientRouter } from 'astro:transitions';

const pathName = Astro.url.pathname;
const { title } = Astro.props;
---

<html lang='en'>
  <head>
    <SEO
      title={title}
      description={seoConfig.description}
      noindex={false}
      nofollow={false}
      openGraph={{
        basic: {
          title: title,
          type: 'website',
          image: seoConfig.image.url
        },
        image: {
          width: seoConfig.image.width,
          height: seoConfig.image.height,
          alt: seoConfig.image.alt
        },
        optional: {
          siteName: seoConfig.siteName,
          description: seoConfig.description
        }
      }}
    />
    <ClientRouter />
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />

    <meta name='viewport' content='width=device-width, initial-scale=1' />
    <meta name='msapplication-config' content='/browserconfig.xml' />
    <meta name='msapplication-TileColor' content='#15191e' />
    <meta name='theme-color' content='#15191e' />

    <script is:inline src='/registerSW.js'></script>
    <link rel='manifest' href='/manifest.webmanifest' />
  </head>
  <body class='flex flex-col bg-base-content/5'>
    <header class='h-16 bg-base-300 shadow-md shadow-base-300/50'>
      <div class='navbar max-h-full border-b border-b-base-100'>
        <div class='navbar-start'>
          <div class='dropdown'>
            <div tabindex='0' role='button' class='btn btn-ghost lg:hidden'>
              <svg
                xmlns='http://www.w3.org/2000/svg'
                class='h-5 w-5'
                fill='none'
                viewBox='0 0 24 24'
                stroke='currentColor'>
                <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h8m-8 6h16'></path>
              </svg>
            </div>
            <ul class='menu dropdown-content menu-sm z-[1] mt-3 w-52 rounded-box bg-base-300 p-2'>
              <li>
                <a
                  data-astro-prefetch
                  role='link'
                  aria-disabled={pathName === '/features'}
                  href={pathName === '/features' ? '#' : '/features'}>
                  Features
                </a>
              </li>
            </ul>
          </div>
          <a
            data-astro-prefetch
            role='link'
            aria-disabled={pathName === '/'}
            class='text-base italic'
            href={pathName === '/' ? undefined : '/'}>
            TYLT
          </a>
        </div>
        <div class='navbar-center hidden lg:flex'>
          <ul class='menu menu-horizontal px-1'>
            <li>
              <a
                data-astro-prefetch
                role='link'
                aria-disabled={pathName === '/features'}
                href={pathName === '/features' ? undefined : '/features'}>
                Features
              </a>
            </li>
          </ul>
        </div>
        <div class='navbar-end'>
          <SignInButton className='btn-ghost btn-sm !bg-transparent' label='Sign in' server:defer />
        </div>
      </div>
    </header>

    <main class='flex-container gap-12'>
      <div class='content flex grow flex-col justify-center p-8 gap-16'>
        <slot />
        <div class='flex justify-center'>
          <SignInButton className='btn-wide !text-white' label='Sign in with GitHub' server:defer />
        </div>
      </div>
    </main>
    <footer class='h-16 w-full content-center bg-base-300 text-center font-mono text-sm'>Dario Puddinu 2024</footer>
    <script></script>
  </body>
</html>
