---
import '@/styles/commons.css';
import Dropdown from '@components/Dropdown.astro';
import SignOut from '@components/SignOutButton.astro';
import '@fontsource/inter';
import { ViewTransitions } from 'astro:transitions';

const { user } = Astro.locals;
type Props = {
  pageName: string;
};
const { pageName } = Astro.props;
---

<html transition:animate='none'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{pageName}</title>
    <ViewTransitions />
  </head>
  <body class='grid h-screen grid-rows-[auto_1fr]'>
    <header class='sticky top-0 z-10 bg-base-300'>
      <div
        class='navbar justify-between border border-b border-base-300 border-base-300/50 p-2 pl-6 shadow-md shadow-base-300/50'>
        <label for='my-drawer' class='drawer-button hover:scale-105 hover:cursor-pointer'>
          <svg
            xmlns='http://www.w3.org/2000/svg'
            fill='none'
            viewBox='0 0 24 24'
            stroke-width='2'
            stroke='currentColor'
            class='h-6 w-6'>
            <path stroke-linecap='round' stroke-linejoin='round' d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12'></path>
          </svg>
        </label>
        <Dropdown>
          <button
            slot='trigger'
            class='btn btn-circle border-slate-700 bg-slate-700 hover:border-slate-600 hover:bg-slate-600'>
            {user.name[0]}
          </button>
          <div slot='content'>
            <li>
              <a class='flex h-8 p-0 active:bg-transparent'>
                <SignOut />
              </a>
            </li>
          </div>
        </Dropdown>
      </div>
    </header>
    <main class='grid grid-rows-1'>
      <div class='drawer'>
        <input id='my-drawer' type='checkbox' class='drawer-toggle' />
        <div class='flex-container drawer-content bg-base-content/5 p-8'>
          <slot />
        </div>
        <div class='drawer-side z-10'>
          <label for='my-drawer' aria-label='close sidebar' class='drawer-overlay'></label>
          <ul class='menu min-h-full w-80 border border-base-300/50 bg-base-200 p-4 text-base-content shadow'>
            <li class='text-lg font-bold'><a href='/goals'>Goals</a></li>
            <li class='text-lg font-bold'>
              <a href='/categories'>Categories 🏗️</a>
            </li>
            <li class='disabled text-lg font-bold'>
              <a>Changelogs 🏗️</a>
            </li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
