---
const currentStep = Number(Astro.url.searchParams.get('step'));
import Prose from '../components/Prose.astro';
type Step = {
  title: string;
  descriptionHeader: string;
  descriptionBody: string;
};
const steps: Step[] = [
  {
    title: 'First activity',
    descriptionHeader: 'Create First Activity',
    descriptionBody:
      'Please enter a subject associated with a goal you want to track.<br/><b>Example:</b> Workout, reading, learning, etc.'
  },
  {
    title: 'First goal',
    descriptionHeader: 'Create First Goal',
    descriptionBody:
      'Please enter a goal, aim or purpose you want to track.<br/><b>Example:</b> Squat 100kg, read 10 pages, learn 10 new words in Spanish, etc.'
  }
];
---

<section class='flex flex-col gap-8 md:flex-row'>
  <ul class='flex max-w-sm gap-8 md:flex-col md:p-4' transition:persist>
    {
      steps.map((step, index) => (
        <div class='flex items-center gap-4'>
          <div
            class='h-8 min-h-8 w-8 min-w-8 content-center text-balance rounded-full text-center font-bold text-success-content'
            class:list={[
              { 'bg-base-content/50': index + 1 !== currentStep },
              { 'bg-success font-extrabold': index + 1 === currentStep },
              { 'font-extrabold text-opacity-60': index + 1 > currentStep }
            ]}>
            <span>{index + 1}</span>
          </div>
          <li class:list={[{ 'font-extrabold': index + 1 === currentStep }]} data-step={index}>
            {step.title}
          </li>
        </div>
      ))
    }
  </ul>
  <Prose>
    <main
      class='flex max-w-sm flex-col gap-4 rounded bg-base-200 shadow'
      transition:animate='slide'
      transition:name='main-content'>
      <div class='flex-container flex flex-col gap-2 text-balance p-4 pb-0'>
        <h1 class='break-words' transition:name='description'>
          {steps[currentStep - 1].descriptionHeader}
        </h1>
        <p class='text-base-content/70' set:html={steps[currentStep - 1].descriptionBody} />
      </div>
      <slot />
    </main>
  </Prose>
</section>
